<% provide(:title, 'Home') %>
   <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>Mikkel Markvardsen</h1>
        <h3>Hello there. You found your way to my portfolio. </br>Maybe I can help you with something? Press below to find out</h3>
        <a href=#about><i class="service-icon fa fa-arrow-down"></i></a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Intro -->
    <div id="about" class="intro">
      <div class="container">
        <div class="row">

          <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 text-center">
            <h2>Who am i?</h2>
            <div class="row">
	            <div class="col-md-9 col-sm-12 col-xs-12">
	            	<span class="lead">My name is Mikkel Markvardsen.</br> I create digital experiences.</span>
	            </div>
							<div class="col-md-3">
								<img class="img-responsive img-circle" src="<%= asset_path 'portrait.jpg' %>"></a>
							</div>
						</div>
						<div class="row">
							<p class="lead">
	I am a programmer, an interaction designer, a graphics designer and a multimedia developer and I currently reside in Copenhagen, Denmark.
	I do most of my professional work in Ruby on Rails, Javascript, jQuery, Joomla, Angular.js, HTML, CSS, Unity3d and Max/MSP.</p>
	 						<p class="lead">Currently I am CTO of Safe Sailing Sailing, a scandinavian company that specializes in maritime education. </br> Furthermore, I create digital experiences with my other company, <a href="MasMediaLink">MAS Media.</a></p>
	 						<a href=#services><i class="service-icon fa fa-arrow-down invert"></i></a>
	         </div>

          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
  
    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>What can i do for you?</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 col-sm-3 col-xs-12 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-sitemap"></i>
              <h4>Project management</h4>
              <p>Did your navigation system shut down in the middle of that asteroid field? We can repair any dings and scrapes to your spacecraft!</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-12 text-center">
            <div class="service-item">

              <i class="service-icon fa fa-wrench"></i>
              <h4>Problem Solving</h4>
              <p>Need to know how magnets work? Our problem solving solutions team can help you identify problems and conduct exploratory research.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-12 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-lightbulb-o"></i>
              <h4>Concept development</h4>
              <p>Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-12 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-code"></i>
              <h4>Implementation and test</h4>
              <p>We've been voted the best pencil sharpening service for 10 consecutive years. If you have a pencil that feels dull, we'll get it sharp!</p>
            </div>
          </div>

        </div>
        <div class="text-center">
	   			<a href=#portfolio><i class="service-icon fa fa-arrow-down"></i></a>
        </div>
      </div>
    </div>
    <!-- /Services -->

<!--
    <div class="callout">
      <div class="vert-text">
        <h1>Looks nice, right? Keep going.</h1>
      </div>
    </div>
    

    <div id="skills" class="skills">
      <div class="container">
      <section>
				<ul class="chart">
					<li class="axis">
				<div class="label">MVP</div>
				<div class="label">All Star</div>
				<div class="label">Slugger</div>
				<div class="label">Rookie</div>
				<div class="label">Triple A</div></li>
					<li class="bar teal" style="height: 95%;" title="95">
				<div class="percent">95<span>%</span></div>
				<div class="skill">Karate</div></li>
					<li class="bar salmon" style="height: 90%;" title="90">
				<div class="percent">90<span>%</span></div>
				<div class="skill">Taekwondo</div></li>
					<li class="bar peach" style="height: 80%;" title="80">
				<div class="percent">80<span>%</span></div>
				<div class="skill">Nunchucks</div></li>
					<li class="bar lime" style="height: 75%;" title="75">
				<div class="percent">75<span>%</span></div>
				<div class="skill">Bow Staff</div></li>
					<li class="bar grape" style="height: 40%;" title="40">
				<div class="percent">40<span>%</span></div>
				<div class="skill">Suplex</div></li>
				</ul>
				</div>
				</section>
      </div>
    </div>
-->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1>Looks nice, right? Keep going.</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>What have i done?</h2>
            <hr>
          </div>
        </div>
<!--         First row -->
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="portfolio-item test1">
              <a data-toggle="modal" data-target="#safesailingmodal"><img class="img-portfolio img-responsive" src="<%= asset_path 'ss_logo.svg' %>"></a>
              <h4>Safe Sailing</h4>
              <p class="height">Online undervisningsportal til speedbådskørekort, duelighedsbevis og det norske Båtførerbevis.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="portfolio-item" >
              <a data-toggle="modal" data-target="#loadmastermodal"><img class="img-portfolio img-responsive" src="<%= asset_path 'loadmaster_logo.png' %>"></a>
              <h4>Loadmaster Logger FMS</h4>
               <p class="height">Fleetmanagement system for small companies. Concept development and implementation of Phonegap application for drivers and webinterface for haulers</p>
            </div>
					</div>
					<div class="col-md-4 col-md-4 col-sm-4 col-xs-3 text-center">
        		<div class="portfolio-item">
							<a data-toggle="modal" data-target="#stoptyvenmodal"><img class="img-portfolio img-responsive" src="<%= asset_path 'stoptyven_logo.svg' %>"></a>
							<h4>Stop Tyven, TV2 kampagne</h4>
							<p class="height">Front-end udvikler. </p>
						</div>
				  </div>
        </div>
<!--         Second row -->
        <div class="row">
					<div class="col-md-4 col-md-4 col-sm-4 col-xs-4 text-center">
						<div class="portfolio-item">
							<a data-toggle="modal" data-target="#dankorttyverimodal"><img class="img-portfolio img-responsive" src="<%= asset_path 'tv2_logo.png' %>"></a>
		          <h4>TV2</h4>
		           <p>Andre mindre projekter for TV2</p>
		        </div>
		      </div>
					<div class="col-md-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="portfolio-item">
						<a data-toggle="modal" data-target="#roskildefortaellingermodal"><img class="img-portfolio img-responsive" src="<%= asset_path 'roskilde_fortaellinger.png' %>"></a>
						<h4>Roskildefortællinger</h4>
						<p>Animeret logo</p>
					</div>
				</div>
				<div class="col-md-4 col-md-4 col-sm-4 col-xs-4 text-center">
	      	<div class="portfolio-item">
						<a data-toggle="modal" data-target="#benzinudregner"><img class="img-portfolio img-responsive" src="<%= asset_path 'tv2_logo.png' %>"></a>
						<h4>Narrow Focus</h4>
						<p>Animeret logo</p>
					</div>
				</div>
        </div>
<!--         third row -->
        <div class="row">
					<div class="col-md-4 col-md-4 col-sm-4 col-xs-4 text-center">
						<div class="portfolio-item">
							<a data-toggle="modal" data-target="#meeweemodal"><img class="img-portfolio img-responsive" src="<%= asset_path 'mee_wee_thumb.png' %>"></a>
		          <h4>Mee Wee Room</h4>
		           <p class="height">Interactive playroom for kids aged 3-7.</p>
		        </div>
		      </div>
					<div class="col-md-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <div class="portfolio-item">
						<a data-toggle="modal" data-target="#miceislandmodal"><img class="img-portfolio img-responsive" src="<%= asset_path 'mice_island.png' %>"></a>
						<h4>Mice Island</h4>
						<p class="height">Student project exploring free narrative space</p>
					</div>
				</div>
				<div class="col-md-4 col-md-4 col-sm-4 col-xs-4 text-center">
	      	<div class="portfolio-item">
						<a data-toggle="modal" data-target="#skibskendingmodal"><img class="img-portfolio img-responsive" src="<%= asset_path 'skibskending.jpg' %>"></a>
						<h4>Ship recognition</h4>
						<p class="height">Interactive 3d simulator and test about ship recognition. </p>
					</div>
				</div>
        </div>

        <div class="text-center">
					<a href=#contact><i class="service-icon fa fa-arrow-down invert"></i></a>
				</div>
      </div>

    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h1>Interested?</h1>
            <h4>Contact information below</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->

    <!-- Contact -->
    <div id="contact" class="contact">
				
			<%= render 'layouts/form' %>
					    
    </div>
    <!-- /Contact -->
    
<!-- Modal Safesailing -->
<div class="modal fade" id="safesailingmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Safe Sailing</h4>
      </div>
      <div class="modal-body">
       <p>Safe Sailing aims to be the standard when it comes to maritime education. The project has been underway for the last 2 years and is now implemented in Norway and Denmark. For this project I have been responsible for the development of the entire platform. Safesailing.eu is build on Joomla 3.2 with a custom template build on Twitters Bootstrap framework<a href="https://www.getbootstrap.com"> (?)</a>.</p>
       
			 <div id="carousel-safesailing" class="carousel slide center-block">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-safesailing" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-safesailing" data-slide-to="1" class=""></li>
            <li data-target="#carousel-safesailing" data-slide-to="2" class=""></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner center-block">
            <div class="item active">
              <img src="<%= asset_path 'safesailing/skibslys.png' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'safesailing/vigeregler.png' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'safesailing/startskaerm.png' %>">
            </div>
          </div>
        </div>
       <p> The teaching material covers basic leasure certificates in 90 minuttes of video, text, animation, quizes and more. Furthermore, I have been overseing the development of a ship recognition prototype build in Unity3d<a href="https://www.unity3d.com"> (?)</a>. </p>
       <p>See the entire project on <a href="https://www.safesailing.eu"> www.safesailing.eu</a></p> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Loadmaster-->
<div class="modal fade" id="loadmastermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Loadmaster Logger</h4>
      </div>
      <div class="modal-body">
        <p>The Loadmaster Logger FMS system is a system Fleetmanagement system made for the company Loadmaster. It is build using Phonegap, AngularJS, Twitter Bootstrap and Ruby on Rails. It consists of an Phonegap app that keeps track of drivers and the trips they take. </p>
        <p>Haulers can oversee trips, cargo and customers and it helps them organize data generated by the drivers. The system has a build-in billing system for haulers to easier organize bills and customers.</p>
        <div id="carousel-loadmaster" class="carousel slide center-block">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-loadmaster" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-loadmaster" data-slide-to="1" class=""></li>
            <li data-target="#carousel-loadmaster" data-slide-to="2" class=""></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner center-block">
            <div class="item active">
              <img src="<%= asset_path 'loadmaster/faktura.png' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'loadmaster/oversigt.png' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'loadmaster/startscreen.png' %>">
            </div>
          </div>
        </div>
        <p>My role in the project was mainly the development of the Phonegap-app, Project management and frontend development of the webapp.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal stoptyven -->
<div class="modal fade" id="stoptyvenmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>The first project I was involved in with TV2 was the development of the a part of campaign called "Stop Tyven". We made a website for people where they could show their support for a campaign against theft, in a new an innovative way. Each time a person signs up on the website, he or she show up as a silluette on the site, holding hands with the other people show supports the campaign.</p>
        
        <div id="carousel-stoptyven" class="carousel slide center-block">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-stoptyven" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-stoptyven" data-slide-to="1" class=""></li>
            <li data-target="#carousel-stoptyven" data-slide-to="2" class=""></li>
            <li data-target="#carousel-stoptyven" data-slide-to="3" class=""></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner center-block">
            <div class="item active">
              <img src="<%= asset_path 'stoptyven/stoptyven1.png' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'stoptyven/stoptyven2.png' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'stoptyven/stoptyven3.png' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'stoptyven/stoptyven4.png' %>">
            </div>
          </div>
        </div>
        <p>It was made using Ruby on Rails and Twitter Bootstrap. I was mainly responsible for front end and design of the site.</p>
        <p class="text-center">Go to <a target="_blank" href="http://stoptyven.tv2.dk">stoptyven.tv2.dk</a><a href="http://stoptyven.tv2.dk">&nbsp;</a>&nbsp; to view the site</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Dankorttyveri -->
<div class="modal fade" id="dankorttyverimodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Visualization of Visa fraud</h4>
      </div>
      <div class="modal-body">
        <p>Another project we made for TV2 was this visualization of Dankort-theft in Denmark. The visualization was to be used on live TV as well as on TV2.dk</p>
        <p>The project was made using Leaflet, Jquery and general javascript. Before the project went live, we did a lot of data processing to get the 80.000 pieces of data to be useable for a browser. That involved a lot of spreadsheet- and python scripting.</p>

				<div id="carousel-dankort" class="carousel slide center-block">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-dankort" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-dankort" data-slide-to="1" class=""></li>
            <li data-target="#carousel-dankort" data-slide-to="2" class=""></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner center-block">
            <div class="item active">
              <img src="<%= asset_path 'dankorttyveri/tv2.png' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'dankorttyveri/tv21.png' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'dankorttyveri/tv22.png' %>">
            </div>
          </div>
        </div>

				<p>The project was nominated for a Danish Internet Award 2013 in the category "Big Data".</p>
				<p class="text-center">Goto&nbsp;<a href="http://rocky-hamlet-4346.herokuapp.com/">this site</a>&nbsp;to try the visualization&nbsp;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Roskildefortællinger-->
<div class="modal fade" id="roskildefortaellingermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Roskildefortællinger</h4>
      </div>
      <div class="modal-body">
      <p>Festivalfortællinger er et projekt, der bygger på alle de sjove, skæve, og rørende oplevelser, som vi har med os i Roskilde-bagagen, og som gør Roskilde Festival til noget helt unik. I forbindelse med projektet blev jeg bedt om at animere deres logo til brug i de fortællinger som var tilgængelige. Logoet er animeret i Adobe After Effects. Se flere fortællinger på <a href="https://www.facebook.com/Festivalfortaellinger">deres facebook side</a></p>
       <iframe class="center-block" src="//player.vimeo.com/video/83376756" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal benzinudregner-->
<div class="modal fade" id="benzinudregner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Roskildefortællinger</h4>
      </div>
      <div class="modal-body">
      <p>Benzinudregner Logoet er animeret i Adobe After Effects. Se flere fortællinger på <a href="https://www.facebook.com/Festivalfortaellinger">deres facebook side</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal meeweemodal-->
<div class="modal fade" id="meeweemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">The Mee Wee room</h4>
      </div>
      <div class="modal-body">
      <p>The Mee Wee room is an interactive room for kids aged 3 to 7. The room facilitates learning and playing by involving kids in digital stories told by storytellers. The stories are projected onto the walls of the room and the room itself changes mood and lighting based on the stories being told.
</p>
<iframe width="534" height="300" src="//www.youtube-nocookie.com/embed/6hSH9T8idhA" frameborder="0" allowfullscreen></iframe>
<p>
A prototype of the room was install in a childrens institution in Haderslev in Denmark during the autumn and winter of 2010-2011 and was made available to the institution after testing in the spring of 2011. </p>

<p>I was responsible for the development and implementation of the prototype. After the implementation phase the system was handed over to the Kids and Tweens Foundation.</p>
<p class="text-center">Read more about this project<a href="http://www.kidsntweens.dk/idd117.asp"> here.</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal meeweemodal-->
<div class="modal fade" id="meeweemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">The Mee Wee room</h4>
      </div>
      <div class="modal-body">
      <p>The Mee Wee room is an interactive room for kids aged 3 to 7. The room facilitates learning and playing by involving kids in digital stories told by storytellers. The stories are projected onto the walls of the room and the room itself changes mood and lighting based on the stories being told.
</p>
<iframe width="534" height="300" src="//www.youtube-nocookie.com/embed/6hSH9T8idhA" frameborder="0" allowfullscreen></iframe>
<p>
A prototype of the room was install in a childrens institution in Haderslev in Denmark during the autumn and winter of 2010-2011 and was made available to the institution after testing in the spring of 2011. </p>

<p>I was responsible for the development and implementation of the prototype. After the implementation phase the system was handed over to the Kids and Tweens Foundation.</p>
<p class="text-center">Read more about this project<a href="http://www.kidsntweens.dk/idd117.asp"> here.</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal skibskending-->
<div class="modal fade" id="miceislandmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Mice Island</h4>
      </div>
      <div class="modal-body">
      <p>Multiple Storylines is a framework developed in Unity 3D, which allows film viewers the opportunity to participate in a movie's story line. The viewer can control the camera's angle/viewpoint, allowing the user to explore every scene as desired and watch all characters/events in 3D.</p>
<p>A prototype was developed for the purpose of exploring the viewer's behavior when given the opportunity of changing the viewport within a film. This prototype is a short film, developed in Unity 3D, that tells us the story about some cruel experiments taking place in a Russian laboratory. All graphics were created in Maya and Unity 3D.</p>
      		<div id="carouselskibskending" class="carousel slide center-block">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carouselskibskending" data-slide-to="0" class="active"></li>
            <li data-target="#carouselskibskending" data-slide-to="1" class=""></li>
            <li data-target="#carouselskibskending" data-slide-to="2" class=""></li>
            <li data-target="#carouselskibskending" data-slide-to="3" class=""></li>
            <li data-target="#carouselskibskending" data-slide-to="4" class=""></li>
            <li data-target="#carouselskibskending" data-slide-to="5" class=""></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner center-block">
            <div class="item active">
              <img src="<%= asset_path 'skibskending/slide1.jpg' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'skibskending/slide2.jpg' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'skibskending/slide3.jpg' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'skibskending/slide4.jpg' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'skibskending/slide5.jpg' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'skibskending/slide6.jpg' %>">
            </div>
            <div class="item">
              <img src="<%= asset_path 'skibskending/slide3.jpg' %>">
            </div>
          </div>
        </div>
      <p>meeweemodal Logoet er animeret i Adobe After Effects. Se flere fortællinger på <a href="https://www.facebook.com/Festivalfortaellinger">deres facebook side</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
